body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center; 
}

.brief {
    margin-left: -50px; /* Adjust to move left */
    text-align: left; 
}

.brief h1, .brief h2, .brief h3, .brief h4 {
    margin: 0;
    padding: 0;
  }


.profile-img img {
    margin-left: 50px; /* Adjust to move left */
    border-radius: 50%;
}

img {
    border-radius: 50%;
}


  